<p id="notice"><%= notice %></p>
<a href="<%= @user.attach.url %> ">
  <b> File attached </b></a>
<br/>
<%= image_tag @user.pic.url %>
<br/>
<%= image_tag @user.pic.url(:medium) %>
<br/>
<%= image_tag @user.pic.url(:thumb) %>
<br/>
<%=link_to image_tag(@user.pic.url(:small)),@user.pic.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
<br/>

<br/>
<%= social_share_button_tag(@user.name) %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
